
.grid {
    padding: 0.5rem;
    gap: 0.5rem;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "first third"
        "second third";
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.third {
    grid-area: third;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
